@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
}

.hidden {
    position: absolute;
    display: none;
    top: 0;
    left: 0;

}
.flex-header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 9px;
}
.flex-header>a{
    color: white;
}
.flex-header>a:hover{
    border-bottom: 1px solid #58c5f0;
}

.menu-element-select {
    border-bottom: 1px solid #58c5f0;
}
html{

}

body {
    background-image: url("/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100VH;
    margin: 0 auto;
    width: 1000px;
}

.content {
    height: 100%;
}

.content > .regist-form > .form-group {
    width: 250px;
}
header{
    background:rgb(54, 66, 121);
}
footer{
    text-align: center;
    height: 50px;
}

/*
ERRORS_STYLE
*/
.error404 {
    font-size: 120px;
    position: absolute;
    top: 300px;
    width: 1000px;
    color: #364279;

}

.img404 {
    background: url(/4.png);
    width: 300px;
    position: absolute;
    height: 300px;
    background-size: cover;
    top: 230px;
    left: 700px;
}

.error404 > span {
    font-size: 50px;
    color: #364279;
    position: absolute;
    left: 100px;


}